@page
@model Project.Pages.Courses.EnrollCourseModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Enroll Course";
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<div id="page" class="container-fluid">
    <h2>@Model.c.Name - @ViewData["CategoryName"]</h2>

    <div class="row card-deck mb-4" style="margin-top: 20px">
        <div style="background-color: rgb(244, 244, 236);" class="mb-4">
            <img style="height: 200px; width: 400px;"
                 src="https://images.unsplash.com/photo-1557683316-973673baf926?auto=format&fit=crop&q=80&w=2029&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></img>
            <div style="text-align: center;" class="card-body">
                <p>@Model.c.Name</p>
                <p>@Model.c.Code</p>
            </div>
        </div>
        <div>
            <form method="post" asp-page-handler="SubmitEnroll">
                <input name="courseId" value="@Model.c.CourseId" hidden>
                <button type="submit" style="padding-top: 0; margin-top: 0;" class="btn btn-primary ">Enroll me</button>
            </form>

        </div>

    </div>
</div>
